  <!-- Content -->

  <div class="banner">
    <div class="sizebox"></div>

    <div class="container-img">
      <section id="email-info" class="flex">

        <h1 class="title-banner">¿Buscas trabajo?</h1>
        <h2>Unete a la mas grande comunidad de trabajadores de México </h2>
        <form id="form" action="https://www.freecodecamp.com/email-submit">
          
          <div class="input-search">

            <div class="one-search">
              <nz-form-item class="input-content">
                <nz-form-control nzErrorTip="Correo electrónico no válido">
                  <nz-input-group nzPrefixIcon="search">
                    <input class="search"  type="email" nz-input placeholder="¿Qué trabajo estas buscando?" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>


              

              <div id="input">
                <button type="submit" value="Buscar una chambita" routerLink="/search-jobs"> <i class="laa" [nzTwotoneColor]="'#ffff'"	 nz-icon nzType="search" nzTheme="outline"></i>  </button>
              </div>


            </div>

          </div>

          <div class="one-search">
             
            <nz-radio-group>
              <label class="la" nz-radio nzValue="A"> Buscon una chambita </label>
              <label class="la" nz-radio nzValue="B"> Buscon un trabajo </label>
            </nz-radio-group> 

          </div>


        </form>
      </section>
    </div>

    <!-- https://codepen.io/ZaynAlaoudi/pen/GBrqdp -->
    <!-- https://codepen.io/ZaynAlaoudi/pen/zzgXYO -->
    <!-- https://codepen.io/fadzrinmadu/pen/xxqYoxm -->
    <!-- https://codepen.io/gabriel-22-01-2000/pen/rNJEdMg -->

    <section class="about">



      <div class="content-about">


        <div class="img-about">
          <img
            src="assets/images/kk.png"
            alt="">
        </div>

        <div class="text-about-content">

          <div class="title-about">
            <h1> Acerca de nosotros </h1>
          </div>

          <div class="text-about">

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sit non consectetur dolores necessitatibus
              delectus ex voluptatum debitis amet, doloribus sunt laboriosam quae magnam odit ipsa cupiditate. Inventore,
              dolor distinctio.
            </p>

            <br>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sit non consectetur dolores necessitatibus
              delectus ex voluptatum debitis amet, doloribus sunt laboriosam quae magnam odit ipsa cupiditate. Inventore,
              dolor distinctio.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sit non consectetur dolores necessitatibus
              delectus ex voluptatum debitis amet, doloribus sunt laboriosam quae magnam odit ipsa cupiditate. Inventore,
              dolor distinctio.

            </p>

          </div>

        </div>



      </div>


    </section>


    <div class="banner-ad">

      <div class="img-ad">
        <img src="assets/images/b-slogan.png" />
      </div>


    </div>




    <section class="categories">

      <h1 class="title-cate">
        <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
        📙 Post Recents
      </h1>



      <div class="wrapper">
        <div class="page_categories">
          <div class="fighting_games gallery">
            <h1>
              UX/UI </h1>
          </div>
          <div class="sports_games gallery">
            <h1><i class="fas fa-futbol"></i> Sports Games</h1>
          </div>
          <div class="girls_games gallery">
            <h1><i class="fab fa-gitlab"></i> Girls Games</h1>
          </div>
          <div class="racing_games gallery">
            <h1><i class="fas fa-flag-checkered"></i> Racing Games</h1>
          </div>
          <div class="shooting_games gallery">
            <h1><i class="fas fa-fighter-jet"></i> Shooting Games</h1>
          </div>
          <div class="RBG_games gallery">
            <h1><i class="fab fa-accusoft"></i> RPG Games</h1>
          </div>
        </div>

      </div>
    </section>

    <section class="card-section">
      <div class="card-content">


        <div class="card-container">
          <div class="card-image">
            <img
              src="https://www.mndelgolfo.com/blog/wp-content/uploads/2018/03/Todo-lo-que-necesitas-saber-para-armar-tu-taller-de-carpinteri%CC%81a1.jpg"
              alt="a brand new sports car" />
          </div>
          <div class="card-body">
            <span class="card-badge card-badge-blue">Car design</span>
            <h1>
              Why is the sports cars so well designed?
            </h1>
            <p class="card-subtitle">
              An exploration into the car design industry and how it works
            </p>
            <div class="card-author">
              <img src="https://i.ytimg.com/vi/E9eZgB5vYZ4/maxresdefault.jpg" alt="author avatar" />
              <div class="author-info">
                <p class="author-name">John Doe</p>
                <p class="post-timestamp">2h ago</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-image">
            <img
              src="https://i0.wp.com/losalbaniles.com/wp-content/uploads/2022/03/Peo%CC%81n-.jpg?resize=424%2C287&ssl=1"
              alt="a brand new sports car" />
          </div>
          <div class="card-body">
            <span class="card-badge card-badge-blue">Car design</span>
            <h1>
              Why is the sports cars so well designed?
            </h1>
            <p class="card-subtitle">
              An exploration into the car design industry and how it works
            </p>
            <div class="card-author">
              <img
                src="https://images.unsplash.com/photo-1542362567-b07e54358753?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                alt="author avatar" />
              <div class="author-info">
                <p class="author-name">John Doe</p>
                <p class="post-timestamp">2h ago</p>
              </div>
            </div>
          </div>
        </div>



        <div class="card-container">
          <div class="card-image">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPqIXvZkinLM26p_acuBfOan7ccgNeqvTtOg&usqp=CAU"
              alt="a landscape view full of baloons" />
          </div>
          <div class="card-body">
            <span class="card-badge card-badge-purple">Adventure</span>
            <h1>
              Discover new adventures over the world
            </h1>
            <p class="card-subtitle">
              Adventure and baloons are trends these days
            </p>
            <div class="card-author">
              <img
                src="https://images.unsplash.com/photo-1504728078670-d0a59873c8c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="author avatar" />
              <div class="author-info">
                <p class="author-name">John Doe</p>
                <p class="post-timestamp">2h ago</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-image">
            <img
              src="https://images.ecestaticos.com/-kiloJUTSewHwWMEPF_CF9GPYWI=/0x48:1264x765/1600x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F3b0%2F743%2Ffaa%2F3b0743faa0f646f05786cfa60eda836a.jpg"
              alt="a city full of buildings" />
          </div>
          <div class="card-body">
            <span class="card-badge card-badge-pink">Engineering</span>
            <h1>
              Living in downtown in the biggest cities
            </h1>
            <p class="card-subtitle">
              Citizens of the biggest cities in the world talk about their lives
            </p>
            <div class="card-author">
              <img
                src="https://images.unsplash.com/photo-1506422748879-887454f9cdff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="author avatar" />
              <div class="author-info">
                <p>John Doe</p>
                <p>2h ago</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-image">
            <img
              src="https://www.electricistasdelafuentemadrid.com/wp-content/uploads/2017/12/tres-puntos-clave-que-debera-verificar-al-contratar-a-un-electricista.jpg"
              alt="a brand new sports car" />
          </div>
          <div class="card-body">
            <span class="card-badge card-badge-blue">Car design</span>
            <h1>
              Why is the sports cars so well designed?
            </h1>
            <p class="card-subtitle">
              An exploration into the car design industry and how it works
            </p>
            <div class="card-author">
              <img
                src="https://images.unsplash.com/photo-1542362567-b07e54358753?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                alt="author avatar" />
              <div class="author-info">
                <p class="author-name">John Doe</p>
                <p class="post-timestamp">2h ago</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-image">
            <img
              src="https://www.arkiplus.com/wp-content/uploads/2016/06/ingeniero-electronico.jpg"
              alt="a brand new sports car" />
          </div>
          <div class="card-body">
            <span class="card-badge card-badge-blue">Car design</span>
            <h1>
              Why is the sports cars so well designed?
            </h1>
            <p class="card-subtitle">
              An exploration into the car design industry and how it works
            </p>
            <div class="card-author">
              <img
                src="https://images.unsplash.com/photo-1542362567-b07e54358753?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                alt="author avatar" />
              <div class="author-info">
                <p class="author-name">John Doe</p>
                <p class="post-timestamp">2h ago</p>
              </div>
            </div>
          </div>
        </div>



        <div class="card-container">
          <div class="card-image">
            <img
              src="https://previews.123rf.com/images/dolgachov/dolgachov1607/dolgachov160703617/59884204-al-por-mayor-log%C3%ADstica-carga-el-transporte-y-las-personas-concepto-hombre-con-cargador-y-el-portapap.jpg"
              alt="a landscape view full of baloons" />
          </div>
          <div class="card-body">
            <span class="card-badge card-badge-purple">Adventure</span>
            <h1>
              Discover new adventures over the world
            </h1>
            <p class="card-subtitle">
              Adventure and baloons are trends these days
            </p>
            <div class="card-author">
              <img
                src="https://images.unsplash.com/photo-1504728078670-d0a59873c8c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="author avatar" />
              <div class="author-info">
                <p class="author-name">John Doe</p>
                <p class="post-timestamp">2h ago</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="card-image">
            <img
              src="https://serviciotecnicocomputadoras.com/wp-content/uploads/2018/10/Servicio-Tecnico-Computadoras-1-1500x1001.jpeg"
              alt="a city full of buildings" />
          </div>
          <div class="card-body">
            <span class="card-badge card-badge-pink">Engineering</span>
            <h1>
              Living in downtown in the biggest cities
            </h1>
            <p class="card-subtitle">
              Citizens of the biggest cities in the world talk about their lives
            </p>
            <div class="card-author">
              <img
                src="https://images.unsplash.com/photo-1506422748879-887454f9cdff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="author avatar" />
              <div class="author-info">
                <p>John Doe</p>
                <p>2h ago</p>
              </div>
            </div>
          </div>
        </div>

      </div>


    </section>




    <!-- Team section -->

    <div class="team-section">

      <h1 class="h1-text">
        <!-- <i class="fa fa-users" aria-hidden="true"></i> -->
        💪 Team Members
      </h1>


      <div class="container">


        <div class="box">
          <div class="top-bar"></div>
          <div class="top">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <input type="checkbox" class="heart-btn" id="heart-btn-1">
            <label class="heart" for="heart-btn-1"></label>
          </div>
          <div class="content">
            <img
              src="https://images.pexels.com/photos/2570145/pexels-photo-2570145.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt="" />
            <strong>David Warner</strong>
            <p>thewarner@gmail.com</p>
          </div>
          <div class="btn">
            <a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i>Assign</a>
            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
          </div>
        </div>

        <div class="box">
          <div class="top-bar"></div>
          <div class="top">
            <div>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
            <div>
              <input type="checkbox" class="heart-btn" id="heart-btn-2">
              <label class="heart" for="heart-btn-2"></label>
            </div>
          </div>
          <div class="content">
            <img src="assets/images/profile.jpg" alt="" />
            <strong>Gabriel Juarez</strong>
            <p>Software Developer</p>
          </div>
          <div class="btn">
            <a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i>Assign</a>
            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
          </div>
        </div>
        <div class="box">
          <div class="top-bar"></div>
          <div class="top">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <input type="checkbox" class="heart-btn" id="heart-btn-3">
            <label class="heart" for="heart-btn-3"></label>
          </div>
          <div class="content">
            <img
              src="https://images.pexels.com/photos/3681591/pexels-photo-3681591.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="" />
            <strong>Raquel John</strong>
            <p>Raqueljohn@gmail.com</p>
          </div>
          <div class="btn">
            <a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i>Assign</a>
            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
          </div>
        </div>
        <div class="box">
          <div class="top-bar"></div>
          <div class="top">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <input type="checkbox" class="heart-btn" id="heart-btn-4">
            <label class="heart" for="heart-btn-4"></label>
          </div>
          <div class="content">
            <img
              src="https://images.pexels.com/photos/1689731/pexels-photo-1689731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="" />
            <strong>Priya Mehra</strong>
            <p>priyamehraa@gmail.com</p>
          </div>
          <div class="btn">
            <a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i>Assign</a>
            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
          </div>
        </div>
      </div>

    </div>




    <!-- End content section -->
  </div>



  <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
    class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>