<nz-spin [nzSpinning]="isLoadingGeneral">


  <div class="nav">
    <p> 📕 Mis ofertas</p>
  </div>



  <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <div nz-row [nzGutter]="24">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <nz-form-item class="input-content">
            <nz-form-label nzFor="email"> Titulo de la oferta </nz-form-label>
            <nz-form-control nzErrorTip="Campo requerido">
                 <input type="text" class="input-text" nzSize="large" nz-input formControlName="title"
                  placeholder="Titulo de la oferta" />
           
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <nz-form-item class="input-content">
            <nz-form-label  nzFor="surnames"> Salario </nz-form-label>
            <nz-form-control nzErrorTip="Campo requerido">
              <nz-select class="input-text-select" nzSize="large" nzShowSearch nzAllowClear nzPlaceHolder="Rango salarial" formControlName="rangeAmount">
                <nz-option *ngFor="let item of listRangeAmount" [nzLabel]="item.valor" [nzValue]="item.clave"></nz-option>                
              </nz-select>                      
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <nz-form-item class="input-content">
            <nz-form-label  nzFor="surnames"> Subcategoría de la oferta </nz-form-label>
            <nz-form-control nzErrorTip="Campo requerido">
              <nz-select class="input-text-select" nzSize="large" nzShowSearch nzAllowClear nzPlaceHolder="Subcategoría"  formControlName="subcategory">
                <nz-option *ngFor="let item of listSubcategory" [nzLabel]="item.valor" [nzValue]="item.valor"></nz-option>
              </nz-select>                 
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <nz-form-item class="input-content">
            <nz-form-label  nzFor="email"> Urgencia </nz-form-label>
            <nz-form-control nzErrorTip="Campo requerido">
              <nz-select class="input-text-select" nzSize="large" nzShowSearch nzAllowClear nzPlaceHolder="Urgencia de contratación" formControlName="urgency">
                <nz-option nzLabel="Contratación urgente" nzValue="A"></nz-option>
                <nz-option nzLabel="Moderada" nzValue="B"></nz-option>
                <nz-option nzLabel="Baja" nzValue="C"></nz-option>
              </nz-select>        
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <nz-form-item class="input-content">
            <nz-form-label nzFor="email"> Nivel de estudios </nz-form-label>
            <nz-form-control nzErrorTip="Campo requerido">
              <nz-select class="input-text-select" nzSize="large" nzShowSearch nzAllowClear nzPlaceHolder="Nivel de estudios" formControlName="levelStudy">
                <nz-option *ngFor="let item of listLevelStudy" [nzLabel]="item.valor" [nzValue]="item.clave"></nz-option>                
              </nz-select>        
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <nz-form-item class="input-content">
            <nz-form-label  nzFor="surnames"> Tipo de trabajo </nz-form-label>
            <nz-form-control nzErrorTip="Campo requerido">
              <nz-select class="input-text-select" nzSize="large" nzShowSearch nzAllowClear nzPlaceHolder="Tipo de trabajo" formControlName="workPlace" >
                <nz-option nzLabel="Jornada completa" nzValue="A"></nz-option>
                <nz-option nzLabel="Media jornada" nzValue="B"></nz-option>
                <nz-option nzLabel="Pasantias" nzValue="C"></nz-option>
                <nz-option nzLabel="Por proyecto" nzValue="D"></nz-option>
              </nz-select>        
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <nz-form-item class="input-content">
            <nz-form-label  nzFor="surnames"> Lugar de trabajo </nz-form-label>
            <nz-form-control nzErrorTip="Campo requerido">
              <nz-select class="input-text-select" nzSize="large" nzShowSearch nzAllowClear nzPlaceHolder="Lugar de trabajo" formControlName="typeOfJob" >
                <nz-option *ngFor="let item of listTypeOfJob" [nzLabel]="item.valor" [nzValue]="item.valor"></nz-option>                
              </nz-select>        
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      

      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <nz-form-item class="input-content">
            <nz-form-label  nzFor="email"> Estatus de la oferta </nz-form-label>
            <nz-form-control nzErrorTip="Campo requerido">
              <nz-select class="input-text-select" nzSize="large" nzPlaceHolder="Estatus de la oferta" [ngModel]="statusOffer" formControlName="status">
                <nz-option nzLabel="Vigente" nzValue="0"></nz-option>
                <nz-option nzLabel="Cerrada" nzValue="1"></nz-option>
                <nz-option nzLabel="Bloqueada" nzValue="2"></nz-option>
              </nz-select>        
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>

    <div nz-row [nzGutter]="8">
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="inner-box">
          <nz-space>


            <button *nzSpaceItem type="button" (click)="generateExcel()" nz-button
              class="button-red">
              <i nz-icon nzType="clear"></i>
              Limpiar filtros
            </button>


            <button *nzSpaceItem type="button"  nz-button
            class="button-white">
            <a routerLink="/dashboard/new-offer" routerLinkActive="active" >
              <i nz-icon nzType="plus"></i>
              Nueva oferta
            </a>
          </button>



          </nz-space>
        </div>
      </div>

      <div nz-col class="gutter-row" align="right" [nzSpan]="12">
        <div class="inner-box">
         
          <button  type="submit" nz-button
          class="button-white">
          <i nz-icon nzType="search"></i>
          Realizar Busqueda
        </button>
        </div>
      </div>
    </div>
  </form>
  <br />


  <div class="card-content">
    <div *ngFor="let item of data" class="card-description">
      <div class="card-title">
        <p class="pa-s"> {{item.title}} - {{item.workPlace}}</p>
      </div>
      <div class="salary">
        {{ item.rangeAmount.valor }}
      </div>

      <div class="salary">
        {{ item.typeOfJob.valor }}
      </div>

      <div class="tags">
        <nz-tag nzColor="success">
          <i nz-icon nzType="check-circle"></i>
          <span>{{item.urgency}}</span>
        </nz-tag>
      </div>

     
      <div class="category">
        {{item.levelStudy.valor}} <br/> {{item.subcategory.valor}}
      </div>
      <div class="date-published">
        <p> Hace 1 semana</p>
      </div>
      
      <div class="button-super">
        <nz-space>
          <button *nzSpaceItem (click)="openViewModal()" nz-button class="button-blue pd-1"><i nz-icon nzType="eye" nzTheme="outline"></i></button>
          <button *nzSpaceItem  routerLink="/dashboard/update-offer/{{ item.consecutive }}" nz-button class="button-blue pd-1"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
          <button *nzSpaceItem (click)="showDeleteModal(item.consecutive)" nz-button class="button-red pd-1"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
        </nz-space>
      </div>
    </div>

 
   


  </div>


</nz-spin>

<nz-drawer
       [nzWidth]="500"
      [nzClosable]="false"
      [nzVisible]="visibleEditDrawer"
      nzPlacement="right"
      nzTitle="Editar oferta"
      (nzOnClose)="closeEditDrawer()"
      [nzFooter]="footerTpl"
    >
      <ng-container *nzDrawerContent>
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
      </ng-container>

      <ng-template #footerTpl>
        <nz-space>
            <button *nzSpaceItem class="button-red pd-1" nz-button (click)="closeEditDrawer()">Cerrar</button>
            <button *nzSpaceItem class="button-blue pd-1" nz-button (click)="closeEditDrawer()">Continuar</button>
        </nz-space>
    </ng-template>

    </nz-drawer>


<nz-modal 
[nzStyle]="{ top: '20px' }"

[nzWidth]="1000"
[(nzVisible)]="visibleModal" nzTitle="Detalle de la oferta" (nzOnCancel)="closeViewModal()">
  <ng-container *nzModalContent>
    <nz-tabset>
      <nz-tab [nzTitle]="titleTemplate1">
        
        <ng-template #titleTemplate1>
          <span nz-icon [nzType]="'info-circle'"></span>
           Información de la ofertas
        </ng-template>

        <nz-descriptions nzTitle="Java Developer" nzBordered>
          <nz-descriptions-item nzTitle="Categoria">Cloud Database</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Compañia">Prepaid</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Tipo de pago">YES</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Tipo de trabajo">2018-04-24 18:00:00</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Lugar de trabajo" [nzSpan]="2">
            2018-04-24 18:00:00 To 2019-04-24 18:00:00
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Urgencia" [nzSpan]="3">
            <nz-badge nzStatus="processing" nzText="Running"></nz-badge>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Salario">$80.00</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Mostrar salario">$20.00</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Mostrar compañia">$60.00</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Descripción"  [nzSpan]="3">
            Data disk type: MongoDB
            Database version: 3.4
            Package: dds.mongo.mid
            Storage space: 10 GB
            Replication_factor:3Region: East China 1
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Beneficios"  [nzSpan]="3">
              <ul>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
              
              </ul>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Actividades"  [nzSpan]="3">
              <ul>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
              
              </ul>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="Habilidades"  [nzSpan]="3">
              <ul>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
                  <li> Actividad Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto error inventore corporis esse. Ex eos  </li>
              
              </ul>
            </nz-descriptions-item>

        </nz-descriptions>

        </nz-tab>

        <nz-tab [nzTitle]="titleTemplate2">
        
          <ng-template #titleTemplate2>
            <span nz-icon [nzType]="'info-circle'"></span>
            Postulaciones
          </ng-template>

          <nz-list nzItemLayout="horizontal" [nzLoading]="'true'">
            <nz-list-item *ngFor="let item of listOfData">
              <nz-list-item-meta
                nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team"
              >
                <nz-list-item-meta-title>
                  <a href="https://ng.ant.design">{{ item.name }}</a>
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </nz-list-item>

            <ul>
              <nz-list-item-action><a >edit</a></nz-list-item-action>
              <nz-list-item-action><a>more</a></nz-list-item-action>
            </ul>

            <nz-list-empty *ngIf="listOfData.length === 0"></nz-list-empty>
          </nz-list>
  
          </nz-tab>

          
          <nz-tab [nzTitle]="titleTemplate3">
        
            <ng-template #titleTemplate3>
              <span nz-icon [nzType]="'info-circle'"></span>
              Quejas y sugerencias
            </ng-template>
    
            Content of Tab Pane 1</nz-tab>

            
    </nz-tabset>
  </ng-container>


  <div *nzModalFooter>
    <button  class="button-red" nz-button (click)="closeViewModal()">Cerrar</button>
  </div>


</nz-modal>

