<nav>
    <div class="wrapper">
      <div class="logo"> <img class="logo-img" src="assets/images/hale-l.png" alt="ss"> </div>
      
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <!-- <li><a href="#">Home</a></li> -->
        <li><a href="#">Empresas</a></li>
        <li>
          <a href="#" class="desktop-item">¿Buscas trabajo?</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">¿Buscas trabajo?</label>
          <ul class="drop-menu">
            <li><a href="#">Crear CV</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">T&C</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="desktop-item">Herramientas</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Chambitas</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="assets/images/kk.png" alt="">
              </div>
              <div class="row">
                <header>Soy reclutador</header>
                <ul class="mega-links">
                  <li><a href="#">Graphics</a></li>
                  <li><a href="#">Vectors</a></li>
                  <li><a href="#">Business cards</a></li>
                  <li><a href="#">Custom logo</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Soy empresa</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Busco trabajo</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a class="btn-profile" routerLink="/home">Cerrar sesión</a></li>
      </ul>

      
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>

    <div class="ad">
      <p> <img src="https://static.vecteezy.com/system/resources/previews/002/450/296/original/illustration-of-mexico-flag-free-vector.jpg" alt="mexico"  width="50px"/> </p>    
    </div>



  </nav>


<div class="body-content">
    <div class="content-profile">

        <div class="img-user-content">


            <div class="card">
                <div class="cover-bg"></div>
    
                <div class="user-info-wrap">
                    <div class="user-photo"></div>
                    <div class="user-info">
                        <div class="user-name">Florina Rothman</div>
                        <div class="user-title">Cocinera</div>
                    </div>
                </div>
    
                <div class="user-bio">

                    
                    <div class="tags">
                        <nz-space>
                            <nz-tag *nzSpaceItem nzColor="#55acee">
                                <i nz-icon nzType="twitter"></i>
                                <span>Perfil verificado</span>
                              </nz-tag>
                              <nz-tag *nzSpaceItem nzColor="#fcad03">
                                <i nz-icon nzType="youtube"></i>
                                <span>Premium</span>
                              </nz-tag>
                        </nz-space>
                    </div>

                     <br>
                    <p> <i>
                      "No tienes que ser grande para empezar. Pero tienes que empezar para poder ser grande"
                    </i>
                    </p>

                    <div class="social">
                        <div class="social-icons">
                            <a href="" class="fa">
                              Perfil publico
                            </a>
                         
                        </div>
    
                        <div class="message">
                            <a href="" class="fa">
                              <nz-switch [(ngModel)]="switchValue"></nz-switch>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="more-information-user card">
                <!-- <div class="starts">
                <nz-rate [ngModel]="4.5" nzAllowHalf></nz-rate>
                <p> 4.6 Pts. </p>
                </div> -->

                <div class="buttons-verification">

                    
                    <button class="button-v" role="button"> Comprar membresia </button>

                    <!-- <button class="button-v" role="button"> Verificar perfil </button> -->
                    
                    <button class="button-v" role="button"  routerLink="/profile/notifications"> Mis notificaciones </button>
                    
                    <button class="button-v" role="button" routerLink="/profile/my-payments"> Mis pagos </button>
                    
                    <button class="button-v" role="button" routerLink="/profile/settings-profile"> Ajustes </button>

                </div>
            </div>

        </div>


        <div class="content-information">

            <div class="content-information-header card">

                <div class="buttons-content">

                                      
                    <div class="button-element">
                        <button class="button-22" role="button" routerLink="/profile/cv"> Mi CV </button>
                    </div>


                    <div class="button-element">
                        <button class="button-22" role="button" routerLink="/profile/my-postulations"> Mis postulaciones </button>
                    </div>

                    
                    <div class="button-element">
                        <button class="button-22" role="button" routerLink="/profile/my-history"> Historial </button>
                    </div>


                    
                    <div class="button-element">
                        <button class="button-23" role="button"> Mis chambitas </button>
                    </div>


                </div>
                
            </div>


            <div class="content-information-body card">

               <router-outlet></router-outlet>
                
            </div>

            <div class="content-information-footer card">

              <p> Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.F </p>
                
            </div>






        </div>


    </div>



</div>


<!-- View Profile -->

<!-- <nz-drawer
[nzClosable]="false"
[nzVisible]="visible"
nzPlacement="right"
[nzWidth]="500"
nzTitle="Basic Drawer"
(nzOnClose)="close()"
>
<ng-container *nzDrawerContent>
  <p>Some contents...</p>
  <p>Some contents...</p>
  <p>Some contents...</p>
</ng-container>
</nz-drawer> -->

<!-- Change password -->

<!-- <nz-modal [(nzVisible)]="visibleChangePassword" nzTitle="The first Modal" (nzOnCancel)="closeChangePassword()" (nzOnOk)="closeChangePassword()">
    <ng-container *nzModalContent>
      <p>Content one</p>
      <p>Content two</p>
      <p>Content three</p>
    </ng-container>
  </nz-modal>
 -->


  <app-footer></app-footer>