<nz-spin [nzSpinning]="isLoadingGeneral">


  <div class="nav">
    <p> 👨‍💻 Mis contactos </p>
  </div>



  <br />


  <div class="card-content">
       


    <div class="box">
      <div class="top-bar"></div>
   
      <div class="content">
        <img
          src="https://images.pexels.com/photos/2570145/pexels-photo-2570145.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
          alt="" />
        <strong>David Warner</strong>
        <p>Software Developer</p>
      </div>
      <div class="btn">
        
        <nz-space>     
            <button *nzSpaceItem type="button" (click)="generateExcel()"  class="success" nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="audit"></i>
              Mensaje
            </button>
    
            <button *nzSpaceItem type="button" (click)="openCreateDrawer()"  nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="eye"></i>
              Ver perfil
            </button>
          </nz-space>
      </div>

      <br>

      <div class="sl">
        bicosind@gmail.com
     </div>


      <div class="sl">
        Celular: 5634237744
      </div>

      
    </div>


    <div class="box">
      <div class="top-bar"></div>
   
      <div class="content">
        <img
          src="https://images.pexels.com/photos/2570145/pexels-photo-2570145.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
          alt="" />
        <strong>David Warner</strong>
        <p>Software Developer</p>
      </div>
      <div class="btn">
        
        <nz-space>     
            <button *nzSpaceItem type="button" (click)="generateExcel()"  class="success" nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="audit"></i>
              Mensaje
            </button>
    
            <button *nzSpaceItem type="button" (click)="openCreateDrawer()"  nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="eye"></i>
              Ver perfil
            </button>
          </nz-space>
      </div>

      <br>

      <div class="sl">
        bicosind@gmail.com
     </div>


      <div class="sl">
        Celular: 5634237744
      </div>

      
    </div>


      
    <div class="box">
      <div class="top-bar"></div>
   
      <div class="content">
        <img
          src="https://images.pexels.com/photos/2570145/pexels-photo-2570145.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
          alt="" />
        <strong>David Warner</strong>
        <p>Software Developer</p>
      </div>
      <div class="btn">
        
        <nz-space>     
            <button *nzSpaceItem type="button" (click)="generateExcel()"  class="success" nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="audit"></i>
              Mensaje
            </button>
    
            <button *nzSpaceItem type="button" (click)="openCreateDrawer()"  nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="eye"></i>
              Ver perfil
            </button>
          </nz-space>
      </div>

      <br>

      <div class="sl">
        bicosind@gmail.com
     </div>


      <div class="sl">
        Celular: 5634237744
      </div>

      
    </div>


      
    <div class="box">
      <div class="top-bar"></div>
   
      <div class="content">
        <img
          src="https://images.pexels.com/photos/2570145/pexels-photo-2570145.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
          alt="" />
        <strong>David Warner</strong>
        <p>Software Developer</p>
      </div>
      <div class="btn">
        
        <nz-space>     
            <button *nzSpaceItem type="button" (click)="generateExcel()"  class="success" nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="audit"></i>
              Mensaje
            </button>
    
            <button *nzSpaceItem type="button" (click)="openCreateDrawer()"  nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="eye"></i>
              Ver perfil
            </button>
          </nz-space>
      </div>

      <br>

      <div class="sl">
        bicosind@gmail.com
     </div>


      <div class="sl">
        Celular: 5634237744
      </div>

      
    </div>


      
    <div class="box">
      <div class="top-bar"></div>
   
      <div class="content">
        <img
          src="https://images.pexels.com/photos/2570145/pexels-photo-2570145.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
          alt="" />
        <strong>David Warner</strong>
        <p>Software Developer</p>
      </div>
      <div class="btn">
        
        <nz-space>     
            <button *nzSpaceItem type="button" (click)="generateExcel()"  class="success" nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="audit"></i>
              Mensaje
            </button>
    
            <button *nzSpaceItem type="button" (click)="openCreateDrawer()"  nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="eye"></i>
              Ver perfil
            </button>
          </nz-space>
      </div>

      <br>

      <div class="sl">
        bicosind@gmail.com
     </div>


      <div class="sl">
        Celular: 5634237744
      </div>

      
    </div>


      
    <div class="box">
      <div class="top-bar"></div>
   
      <div class="content">
        <img
          src="https://images.pexels.com/photos/2570145/pexels-photo-2570145.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
          alt="" />
        <strong>David Warner</strong>
        <p>Software Developer</p>
      </div>
      <div class="btn">
        
        <nz-space>     
            <button *nzSpaceItem type="button" (click)="generateExcel()"  class="success" nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="audit"></i>
              Mensaje
            </button>
    
            <button *nzSpaceItem type="button" (click)="openCreateDrawer()"  nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="eye"></i>
              Ver perfil
            </button>
          </nz-space>
      </div>

      <br>

      <div class="sl">
        bicosind@gmail.com
     </div>


      <div class="sl">
        Celular: 5634237744
      </div>

      
    </div>


    <div class="box">
      <div class="top-bar"></div>
   
      <div class="content">
        <img
          src="https://images.pexels.com/photos/2570145/pexels-photo-2570145.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
          alt="" />
        <strong>David Warner</strong>
        <p>Software Developer</p>
      </div>
      <div class="btn">
        
        <nz-space>     
            <button *nzSpaceItem type="button" (click)="generateExcel()"  class="success" nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="audit"></i>
              Mensaje
            </button>
    
            <button *nzSpaceItem type="button" (click)="openCreateDrawer()"  nz-button nzType="primary" [nzSize]="'default'" nzShape="round">
              <i nz-icon nzType="eye"></i>
              Ver perfil
            </button>
          </nz-space>
      </div>

      <br>

      <div class="sl">
        bicosind@gmail.com
     </div>


      <div class="sl">
        Celular: 5634237744
      </div>

      
    </div>


      
   

      




    

    <!-- <nz-table #fixedTable #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Age</th>
          <th>Address</th>
          <th nzRight nzAlign="center" nzWidth="140px">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          <td nzRight nzAlign="center">
            <nz-space>


              <button nz-button nzShape="circle" nzType="text">
                <i nz-icon nzTheme="twotone" [nzTwotoneColor]="'#08a000'" nzType="edit"></i>
              </button>

              <button nz-button nzShape="circle" nzType="text">
                <i nz-icon nzTheme="twotone" [nzTwotoneColor]="'#a31600'" nzType="delete"></i>
              </button>
            </nz-space>
          </td>
        </tr>
      </tbody>
    </nz-table> -->


  </div>


</nz-spin>