

  <nz-page-header  [nzGhost]="true">
    <nz-page-header-title>Historial de visualización</nz-page-header-title>
    <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->
    <nz-page-header-extra>
      <nz-space>
        <!-- <button *nzSpaceItem nz-button>Operation</button> -->
        <!-- <button *nzSpaceItem nz-button>Operation</button> -->
        <!-- <button *nzSpaceItem nz-button nzType="primary">Primary</button> -->
      </nz-space>
    </nz-page-header-extra>
    <nz-page-header-content>
      
      
<div class="content">
    <!-- <div class="statists">
        <div class="card-s">                    
          <h2> 
            <i nz-icon nzType="pie-chart" nzTheme="twotone"></i>
               400 Prestamos   </h2>
        </div>
        <div class="card-s">                    
          <h2> 
            <i nz-icon nzType="heart" nzTheme="twotone" [nzTwotoneColor]="'#a31600'"  ></i>
               3,020 Favoritos </h2>
        </div>
           <div class="card-s">                    
          <h2> 
            <i nz-icon nzType="alert" nzTheme="twotone"></i>
               10,020 Reportes </h2>
        </div>          
  </div> -->


  <div class="filters">

    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="user">
              <input formControlName="userName" nz-input placeholder="Buscar" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
       
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">Log in</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    


  </div>


  <div class="table">

    <nz-table #basicTable [nzData]="listOfData">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.address }}</td>
            <td>
              <a>Action 一 {{ data.name }}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>


  </div>
</div>
    </nz-page-header-content>
  </nz-page-header>

  