<div class="body-content">

  <div class="content">

      
      <div class="card-body">

        
       <div class="card-description">
           <div class="card-title"> 
               <h2> {{currentElement && currentElement.title}} </h2> 
               <nz-tag [nzColor]="'magenta'"> {{currentElement && getUrgency(currentElement.urgency)}} </nz-tag>
             </div>


              <div class="salary">
                {{currentElement && currentElement.rangeAmount.valor}}
              </div> 

              <div class="salary">
                {{currentElement && currentElement.typeOfJob.valor}} - {{currentElement && getWorkPlace(currentElement.workPlace)}}

               </div> 

               <br>
        
             <div class="tags">
               <nz-tag nzColor="success">
                 <i nz-icon nzType="check-circle"></i>
                 <span>                 {{currentElement && currentElement.category.valor}}</span>
               </nz-tag>

                 
               <nz-tag [nzColor]="'volcano'">
                {{currentElement && currentElement.subcategory.valor}}

               </nz-tag>
             
             </div>

             <div class="description">

               <h3> Descripción de la vacante: </h3>

               <p>
                {{currentElement && currentElement.description}}

               </p>

             </div>

             <br>

             <div class="points-key">

              <h3> Te ofrece: </h3>

              <ul class="points">
                <li *ngFor="let e of currentElement.benefits" > {{e}}  </li>
              </ul>
            </div>


            <div class="points-key">

              <h3> Requisitos a cumplir: </h3>

              <ul class="points">
                <li *ngFor="let e of currentElement.skills" > {{e}}  </li>
              </ul>
            </div>

            <div class="points-key">

              <h3> Funciones principales: </h3>

              <ul class="points">
                <li *ngFor="let e of currentElement.mainActivities"> {{e}} </li>
              </ul>
            </div>

            <br>

             <div class="company-and-place">
                <p> {{ currentElement && currentElement.company.name }}</p> 
             </div>

             <div class="company-and-placea">
              <p> {{ currentElement && currentElement.company.description }}</p> 
           </div>

             <div class="category">
              {{currentElement && currentElement.city.valor}} - {{currentElement && currentElement.state.valor}}
             </div>



             <div class="date-published">
               <p> Hace 1 semana</p>
             </div>


             


       </div>

       <div class="card-postulate">
         <nz-card  [nzCover]="coverTemplate" [nzActions]="[actionSetting,  actionEllipsis]">
           <nz-card-meta
             nzTitle="{{currentElement && currentElement.company.name}}"
             nzDescription="{{currentElement && currentElement.description}}"
             [nzAvatar]="avatarTemplate"
           ></nz-card-meta>
         </nz-card>
         <ng-template #avatarTemplate>
           <!-- <nz-avatar nzSrc="{{currentElement && currentElement.company.imageURL}}"></nz-avatar> -->
         </ng-template>
         <ng-template #coverTemplate>
           <img alt="example" src="{{currentElement && currentElement.company.imageURL}}" />
         </ng-template>
         <ng-template #actionSetting>
          <i nz-icon nzType="appstore-add" nzTheme="outline"></i>
        </ng-template>
      
         <ng-template #actionEllipsis>
          <i nz-icon nzType="warning" nzTheme="outline"></i>
        </ng-template>

       </div>



      </div>




  </div>





</div>