<div class="nav">
     
    <nz-breadcrumb>
     <nz-breadcrumb-item>
       <i nz-icon nzType="home"></i>
     </nz-breadcrumb-item>
    
     <nz-breadcrumb-item>Mi trabajo</nz-breadcrumb-item>
 
     <nz-breadcrumb-item>
       <a>
         <i nz-icon nzType="user"></i>
         <span>Examenes</span>
       </a>
     </nz-breadcrumb-item>
     
     <nz-breadcrumb-item>
        <a>
          <i nz-icon nzType="user"></i>
          <span>Review PE-1029393</span>
        </a>
      </nz-breadcrumb-item>
     


   </nz-breadcrumb>
</div>